.title {
  /* text-align: center; */
  width: 90%;
  font-weight: 500;
  margin: 0.25rem 0 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.link {
  color: black;
  margin: 0.75rem 0;
  width: 100%;
}

.img_channel {
  height: 2.5rem;
  width: 2.5rem;
  margin: 0.25rem 1rem 0.25rem 0;
}

.name {
  /* align-self: center; */
  font-size: 0.95rem;
  font-weight: 400;
  color: #606060;
}

.name:nth-child(3)::after {
  content: "•";
  margin: 0 4px;
}
