.main {
  margin: 0 0 5rem;
}

.card_container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 0.5rem;
  /* width: 30%; */
}

.videos_container {
  width: 90%;
  margin: 0 auto;
}

.sidebar {
  display: none;

  /* width: 15%;
  list-style: none;
  justify-self: center; */
}

.sidebar_item {
  font-size: 0.95rem;
  align-items: center;
  margin: 0 0.5rem 0.5rem 1.5rem;
}

.sidebar_item:hover {
  font-weight: bold;
}

.sidebar_item > span {
  margin-right: 1rem;
}

.sidebar > ul {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.options_menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: white;
  width: 100vw;
  height: 7.5vh;
}

.pointer {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .main {
    margin: 0 0rem 5rem;
  }

  .card_container {
    width: 30%;
  }

  .options_menu {
    display: none;
  }

  .videos_container {
    /* width: 85vw; */
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 15vw;
  }

  .sidebar {
    display: block;
    position: fixed;
    top: 12vh;
    width: 15vw;
    height: 100vh;
    list-style: none;
    border-right: 1px solid #d7d7d7;
  }

  .sidebar_item {
    font-size: 0.95rem;
    align-items: center;
    margin: 0 0.5rem 0.5rem 1.5rem;
  }

  .sidebar_item > span {
    margin-right: 1rem;
  }

  .sidebar > ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    margin-top: 1rem;
  }
}
