.main {
  margin: 0 1rem;
}

.card_container {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 2.5rem;
  /* width: 30%; */
}

@media screen and (min-width: 800px) {
  .main {
    margin: 0 2rem;
  }

  .card_container {
    width: 30%;
  }
}
