.main {
  margin: 0 1.5rem;
}

.card_container {
  position: relative;
  margin: 1rem 2rem 1rem 0;
  min-width: 65%;
}

.playlist_name {
  /* font-weight: 600; */
  border: none;
  font-size: 1.2rem;
}

.more_options_icon {
  position: absolute;
  right: -0.25rem;
  bottom: 4.1rem;
}

.more_options {
  position: absolute;
  bottom: 0rem;
  right: 0;
}

@media screen and (min-width: 768px) {
  .card_container {
    min-width: 25%;
  }
}
