.main {
  width: 40vw;
  /* margin-left: 27.5vw; */
  margin: 0 auto;
}

.main > h2 {
  margin-bottom: 2rem;
}

.card_container {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 2rem;
  /* width: 30%; */
}

@media screen and (min-width: 768px) {
  /* .card_container {
    width: 30%;
  } */
}
