.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  position: sticky;
  top: 0;
  height: 10vh;
  background-color: white;
  margin-bottom: 1rem;
  box-shadow: 0 1px 2px 0 rgb(148 150 159 / 30%);
  z-index: 1;
}

.nav > a > div {
  font-weight: 700;
  font-size: 1.25rem;
}

.pointer {
  cursor: pointer;
}

.link {
  color: black;
}

.link:hover {
  font-weight: 700;
}

@media screen and (min-width: 800px) {
  .nav {
    height: 12vh;
    padding: 0 2.5rem;
  }
}
